header {
	text-align: center;
	font-size: 50px;
	font-family: "Courier New", Courier, monospace;
	}
nav {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 100%;
	padding: 10px;
		}
a {
	color: lightblue;
	text-decoration: none;
}
a:link {
	padding: 10px;
}
a:visited {
	color: pink;
}
a:hover {
	font-weight: bold;
}
body {
	height: 80%;
}
footer {
	width: 100%;
	height: 120px;
	padding-top: 10px;
	text-align: center;
	background-color: white;
	}
